* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) #070707;
}

:root {
    --color-1: #621c21;
}

.container {
    margin: 0 auto;
    width: calc(100% - 32px);
    max-width: 1440px;
}
body {
    position: relative;
    z-index: 1;
    background: #000;

    &:after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        background: url("../background.jpg") no-repeat center center / cover;
        background-attachment: fixed;
        opacity: 0.4;
        filter: blur(6px)
    }
}

main {
    position: relative;
    min-height: 100vh;
    z-index: 1;
    box-sizing: border-box;
    padding: 100px 0;
    .container {
        position: relative;
    }

    h1 {
        position: relative;
        text-transform: uppercase;
        color: #fff;
        font-size: 4vw;
        top: 0;
        left: 0;
        font-style: italic;
        opacity: 0.5;
    }
    table {
        border-color: #3d3d3d;
        margin-top: 25px;
        td,th {
            padding: 10px 20px;
            color: #fff;
            border: 1px solid #3d3d3d;
            backdrop-filter: blur(6px);
            background: #ffffff08;
            a {
                color: #fff;
            }
        }
        tbody tr {
            opacity: 0;
            transition: 1s ease;
            &.show {
                opacity: 1;
            }
            .stars {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3px;
                mask: url('data:image/svg+xml;utf8,<svg width="137" height="24" viewBox="0 0 137 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.192 8.45108L16.6975 7.35612L13.3472 0.528203C13.2557 0.341259 13.1052 0.189923 12.9192 0.0979342C12.4528 -0.133521 11.8861 0.0593584 11.6529 0.528203L8.30266 7.35612L0.808145 8.45108C0.601522 8.48076 0.41261 8.57868 0.267974 8.72705C0.0931164 8.90772 -0.00323781 9.15079 8.308e-05 9.40284C0.00340397 9.6549 0.106128 9.89531 0.285684 10.0713L5.70806 15.3858L4.427 22.8903C4.39696 23.0649 4.41618 23.2444 4.48247 23.4086C4.54877 23.5727 4.65949 23.7149 4.80208 23.819C4.94467 23.9231 5.11342 23.985 5.28921 23.9976C5.46499 24.0102 5.64077 23.973 5.79662 23.8903L12.5001 20.3473L19.2035 23.8903C19.3865 23.9882 19.599 24.0209 19.8027 23.9853C20.3163 23.8962 20.6617 23.4066 20.5731 22.8903L19.2921 15.3858L24.7144 10.0713C24.862 9.92587 24.9594 9.73595 24.9889 9.52824C25.0686 9.00895 24.7085 8.52823 24.192 8.45108Z" fill="black"/><path d="M52.192 8.45108L44.6975 7.35612L41.3472 0.528203C41.2557 0.341259 41.1052 0.189923 40.9192 0.0979342C40.4528 -0.133521 39.8861 0.0593584 39.6529 0.528203L36.3027 7.35612L28.8081 8.45108C28.6015 8.48076 28.4126 8.57868 28.268 8.72705C28.0931 8.90772 27.9968 9.15079 28.0001 9.40284C28.0034 9.6549 28.1061 9.89531 28.2857 10.0713L33.7081 15.3858L32.427 22.8903C32.397 23.0649 32.4162 23.2444 32.4825 23.4086C32.5488 23.5727 32.6595 23.7149 32.8021 23.819C32.9447 23.9231 33.1134 23.985 33.2892 23.9976C33.465 24.0102 33.6408 23.973 33.7966 23.8903L40.5001 20.3473L47.2035 23.8903C47.3865 23.9882 47.599 24.0209 47.8027 23.9853C48.3163 23.8962 48.6617 23.4066 48.5731 22.8903L47.2921 15.3858L52.7144 10.0713C52.862 9.92587 52.9594 9.73595 52.9889 9.52824C53.0686 9.00895 52.7085 8.52823 52.192 8.45108Z" fill="black"/><path d="M80.192 8.45108L72.6975 7.35612L69.3472 0.528203C69.2557 0.341259 69.1052 0.189923 68.9192 0.0979342C68.4528 -0.133521 67.8861 0.0593584 67.6529 0.528203L64.3027 7.35612L56.8081 8.45108C56.6015 8.48076 56.4126 8.57868 56.268 8.72705C56.0931 8.90772 55.9968 9.15079 56.0001 9.40284C56.0034 9.6549 56.1061 9.89531 56.2857 10.0713L61.7081 15.3858L60.427 22.8903C60.397 23.0649 60.4162 23.2444 60.4825 23.4086C60.5488 23.5727 60.6595 23.7149 60.8021 23.819C60.9447 23.9231 61.1134 23.985 61.2892 23.9976C61.465 24.0102 61.6408 23.973 61.7966 23.8903L68.5001 20.3473L75.2035 23.8903C75.3865 23.9882 75.599 24.0209 75.8027 23.9853C76.3163 23.8962 76.6617 23.4066 76.5731 22.8903L75.2921 15.3858L80.7144 10.0713C80.862 9.92587 80.9594 9.73595 80.9889 9.52824C81.0686 9.00895 80.7085 8.52823 80.192 8.45108Z" fill="black"/><path d="M108.192 8.45108L100.697 7.35612L97.3472 0.528203C97.2557 0.341259 97.1052 0.189923 96.9192 0.0979342C96.4528 -0.133521 95.8861 0.0593584 95.6529 0.528203L92.3027 7.35612L84.8081 8.45108C84.6015 8.48076 84.4126 8.57868 84.268 8.72705C84.0931 8.90772 83.9968 9.15079 84.0001 9.40284C84.0034 9.6549 84.1061 9.89531 84.2857 10.0713L89.7081 15.3858L88.427 22.8903C88.397 23.0649 88.4162 23.2444 88.4825 23.4086C88.5488 23.5727 88.6595 23.7149 88.8021 23.819C88.9447 23.9231 89.1134 23.985 89.2892 23.9976C89.465 24.0102 89.6408 23.973 89.7966 23.8903L96.5001 20.3473L103.204 23.8903C103.387 23.9882 103.599 24.0209 103.803 23.9853C104.316 23.8962 104.662 23.4066 104.573 22.8903L103.292 15.3858L108.714 10.0713C108.862 9.92587 108.959 9.73595 108.989 9.52824C109.069 9.00895 108.709 8.52823 108.192 8.45108Z" fill="black"/><path d="M136.192 8.45108L128.697 7.35612L125.347 0.528203C125.256 0.341259 125.105 0.189923 124.919 0.0979342C124.453 -0.133521 123.886 0.0593584 123.653 0.528203L120.303 7.35612L112.808 8.45108C112.602 8.48076 112.413 8.57868 112.268 8.72705C112.093 8.90772 111.997 9.15079 112 9.40284C112.003 9.6549 112.106 9.89531 112.286 10.0713L117.708 15.3858L116.427 22.8903C116.397 23.0649 116.416 23.2444 116.482 23.4086C116.549 23.5727 116.659 23.7149 116.802 23.819C116.945 23.9231 117.113 23.985 117.289 23.9976C117.465 24.0102 117.641 23.973 117.797 23.8903L124.5 20.3473L131.204 23.8903C131.387 23.9882 131.599 24.0209 131.803 23.9853C132.316 23.8962 132.662 23.4066 132.573 22.8903L131.292 15.3858L136.714 10.0713C136.862 9.92587 136.959 9.73595 136.989 9.52824C137.069 9.00895 136.709 8.52823 136.192 8.45108Z" fill="black"/></svg>') no-repeat left center / contain;
                height: 24px;
                aspect-ratio: 137 / 24;
                background: #3d3d3d;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(var(--rate) + var(--countPadd) * .4px);
                    height: 100%;
                    background: gold;
                }
            }
        }
    }
}