* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) #050707;
    box-sizing: border-box;
}

:root {
    --color-1: rgb(40, 142, 201);
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #383838;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    width: calc(100% - 64px);
}

.header {
    position: sticky;
    top: 0;
    padding: 20px 0;
    background: #000;
    box-shadow: 0 0 8px 1px #000;
    z-index: 50;
}
.header__logo {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: .2em;
}

.gameList {
    margin: 50px 0 100px;
}
.gameList__search {
    display: grid;
    grid-template-columns: 1fr 41px;
    margin-bottom: 30px;
    gap: 24px;
}
.gameList__search input {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #3d3d3d;
    color: #fff;
}
.gameList__search button {
    position: relative;
    background: var(--color-1);
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease;
}

.gameList__search button:hover {
    opacity: 0.6;
}
.gameList__search button:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #fff;
    transform: scale(.5);
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Search SVG Icon</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z"/></svg>') no-repeat center center / contain;
}
.gameList__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}
.gameList__item {
    display: block;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    transition: opacity .3s ease;
    opacity: 0;
}
.gameList__item.show {
    opacity: 1;
}
.gameList__item img {
    display: block;
    width: 100%;
    height: unset;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 20px;
}
.gameList__item_data {
    display: grid;
    gap: 4px;
}
.gameList__item_data p {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.gameList__item_data span {
    color: #fff;
    margin-bottom: 10px;
}
.gameList__item_data a {
    text-decoration: none;
    background: var(--color-1);
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    transition: opacity .3s ease;
}
.gameList__item_data a:hover {
    opacity: 0.6;
}

@media (max-width: 1360px){
    .gameList__wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1200px){
    .gameList__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 990px){
    .gameList__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 520px){
    .gameList__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}